<!doctype html>
<html lang="en">
<head>
  <meta charset="utf8">
  <title><%= @title + ' | Make-Todo' %></title>
  <link href="/reset.css" rel="stylesheet">
  <link href="/style.css" rel="stylesheet">
</head>
<body>
  <header>
    <hgroup>
      <h1><a href="/">Make-Todo</a></h1>
      <h2>Gestor de Tareas</h2>
    </hgroup>
  </header>

  <div id="main">
    <%= yield %>
  </div>

</body>
</html>
